*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

#cabeçalho {
    font-size: 14pt;
    color: whitesmoke;
    background-color: rgba(157, 0, 0, 1);
    text-align: center;
    padding: 10px;
}

#informações {
    display: flex;
    text-align: center;
    font-size: 14pt;
    line-height: 35px;
    padding-left: 36%;
    padding-top: 10%;
}

#cadastrar {
    color: black;
    font-size: 11pt;
}

ul {
    list-style: none;
}

a {
    color: whitesmoke;
    text-decoration: none;
}

a:hover {
    font-style: oblique;
}

#container {
    margin: auto;
}

#colab {
    text-align: left;
    line-height: 55pt;
    padding-left: 13%;
    padding-bottom: 20px;
}

.linha {
    display: flex;
    flex-wrap: wrap;
    gap: 15%;
    padding: 0 25px;
}

#rodapé {
    position: fixed;
    bottom: 0;
    width: 100%;
    font-size: 13.5pt;
    color: whitesmoke;
    background-color: #4B4747;
    text-align: center;
    line-height: 20pt;
    padding: 20px;
    padding-top: 0px;
}
