/* Estilo para o corpo da página */
body {
    background: rgb(240, 234, 236); /* Cor de fundo do corpo da página */
    color: rgb(15, 15, 15);        /* Cor do texto no corpo da página */
    font: normal 18pt Arial;       /* Fonte para o texto no corpo da página */
}

/* Estilo para o cabeçalho */
.site-header {
    background-color: #ff0000cc;  /* Cor de fundo do cabeçalho */
    color: #000000;               /* Cor do texto no cabeçalho */
    padding: 10px;                /* Espaçamento interno do cabeçalho */
    text-align: center;           /* Alinhamento do texto no cabeçalho */
    position: fixed;              /* Fixa o cabeçalho na parte superior */
    top: 0;                       /* Alinha o topo do cabeçalho com o topo da viewport */
    width: 100%;                  /* Largura total do cabeçalho */
}

/* Estilo para a barra lateral */
.sidebar {
    width: 150px;                 /* Largura da barra lateral */
    background-color: #333;       /* Cor de fundo da barra lateral */
    color: #fff;                  /* Cor do texto na barra lateral */
    padding: 20px;                /* Espaçamento interno da barra lateral */
    height: 100vh;                /* Altura da barra lateral igual à altura da viewport */
    position: fixed;              /* Fixa a barra lateral na página */
    left: 0;                      /* Alinha a barra lateral à esquerda */
    top: 0;                       /* Alinha a barra lateral ao topo */
}

/* Estilo para os botões da barra lateral */
.sidebar-button {
    display: block;               /* Define os botões como elementos de bloco */
    width: 100%;                  /* Largura total dos botões */
    padding: 10px;                /* Espaçamento interno dos botões */
    background-color: #555;       /* Cor de fundo dos botões */
    border: none;                 /* Remove a borda dos botões */
    color: #fff;                  /* Cor do texto nos botões */
    text-align: left;             /* Alinhamento do texto à esquerda */
    text-decoration: none;        /* Remove o sublinhado padrão dos links */
    cursor: pointer;              /* Altera o cursor do mouse para indicar que os botões são clicáveis */
    transition: background-color 0.3s ease; /* Transição suave para a cor de fundo dos botões */
    margin-top: 20px;             /* Espaçamento vertical entre os botões */
    font-family: "Arial", sans-serif; /* Define a família da fonte dos botões */
    font-size: 16px;              /* Tamanho da fonte dos botões */
    font-weight: bold;            /* Peso da fonte dos botões */
}

/* Estilo para o hover dos botões */
.sidebar-button:hover {
    background-color: #444;       /* Cor de fundo dos botões ao passar o mouse sobre eles */
}
section{
    background: rgb(255, 255, 255);
    border-radius: 10px;
    padding: 100px;
    width: 100px;
    margin: 200px 300px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.363);
    
    

}