*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

input[type='text'], [type='password'], [type='email'] {
    font-size: 14pt;
    background-color: #d9d9d9;
    border: none;
    padding-left: 3px;
}

#cabeçalho {
    font-size: 14pt;
    color: whitesmoke;
    background-color: rgba(157, 0, 0, 1);
    text-align: center;
    padding: 10px;
}

#informações {
    display: flex;
    gap: 10px;
    text-align: right;
    font-size: 14pt;
    line-height: 35px;
    padding-left: 35%;
    padding-top: 10%;
}

#botão {
    padding-top:12px;
    text-align: center;
}

#cadastra {
    text-align: center;
    font-size: 14pt;
    border: none;
    background-color: #d9d9d9;
    padding: 4px;
    cursor: pointer;
    
} #cadastra:hover {
    background-color: #b6b4b4;
} #cadastra:active {
    background-color: #d9d9d9;
}

ul {
    list-style: none;
}
a {
    color: whitesmoke;
    text-decoration: none;
}
a:hover {
    font-style: oblique;
}

#container {
    margin: auto;
}

#colab {
    text-align: left;
    line-height: 55pt;
    padding-left: 13%;
    padding-bottom: 20px;
}

.linha {
    display: flex;
    flex-wrap: wrap;
    gap: 15%;
    padding: 0 25px;
}

#rodapé {
    position: fixed;
    bottom: 0;
    width: 100%;
    font-size: 13.5pt;
    color: whitesmoke;
    background-color: #4B4747;
    text-align: center;
    line-height: 20pt;
    padding: 20px;
    padding-top: 0px;
}
