*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
  
header {
    width: 100vw;
    font: 14pt sans-serif;
    background-color: rgba(157, 0, 0, 1);
    padding: 1vw;
}

.logoTexto {
    text-align: center;
    color: whitesmoke;
}

body {
    background-color: rgb(6, 139, 39);
}


/* Estilo para o sistema de vidas */

.MostraVidas {
    position: absolute;
    width: 38vw;
}

.IconSets {
    font-size: 28pt;
    letter-spacing: 6pt;
}

#VidaIconBot{
    margin-left: 28%;
    margin-bottom: 40%;
}

#VidaIconPessoa {
    margin-left: 33%;
}

#TituloDeVida {
    font: 18pt sans-serif;
    color: whitesmoke;
    margin-top: 30%;
    margin-left: 25%;
    
}


/* Estilo para as cartas  */

.containerBot {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
    position: relative;
}

.containerDaPessoa {
    display: flex;
    justify-content: center;
    margin-top: 200px; 
    margin-bottom: 25px; 
    position: relative;
}

.iconPerfil {
    margin-top: 1vw; 
    margin-bottom: 45px; 
    margin-right: 190px;
    margin-left: 60px;
}


/* Animação de flip para as cartas */

.carta {
    max-width: 100px;
    max-height: 200px;
    margin-left: 55px;
    position: absolute;
    transform-style: preserve-3d;
    transition: all 500ms ease;
}

.frente {
    transform: rotateY(180deg);
}

.containerDaPessoa.virada .frente {
    transform: rotateY(360deg);
}

.verso {
    transform: rotateY(360deg);
    backface-visibility: hidden;
}

.containerDaPessoa.virada .verso  {
    transform: rotateY(540deg);
}
  

/* Animação de shuffle

*/

.containerBaralho {
    position: relative;
}

.baralho {
    position: absolute;
    right: 20%;
}


/* Animação de retorno das cartas para o baralho */






/* Estilo para o botão do select */

select {
    text-align: center;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin-top: 80px;
    width: 125px;
    font-size: 18px;
    border: 5px solid #e99999;
    border-radius: 9px;
    
}

label {
    font: 18pt sans-serif;
    /* margin-top: 6px;
    margin-bottom: 3px; */
    color:rgb(255, 255, 255);

}

.selectContainer {
  text-align: center; 
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}