*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background-color: rgb(24, 143, 54);
}
header {
    height: 15vh;
    background-color: rgba(157, 0, 0, 1);
    display: grid;
    place-items: center; 
}
h1 {
    font: 25pt sans-serif;
    color: whitesmoke;
}
.VidaDaPessoa{
    grid-row: 2;
}
.infoUser {
    display: grid;
    place-items: center;
}
.ÍconeDeVida {
    font-size: 25pt;
    letter-spacing: 3px;
}
.CoreGame {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 35vh 35vh;
    place-items: center;
}
.containerDaPessoa {
    display: flex;
}
.containerBot {
    display: flex;
}
.containerBaralho {
    grid-column: 3/3;
    grid-row: 1/3;
}
#cartaBaralho {
    width: 110px;
    height: 150px;
}
.carta {
    position: absolute;
    width: 110px;
    height: 150px;
} 
.carta-container {
    width: 115px;
    height: 150px;
    position: relative;
}
.selectContainer {
   display: grid;
   height: 15vh;
   place-items: center;
}
select {
    font-size: 20px;
    text-align: center;
}
                                                                                                                                                                                     