*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
  
header {
    width: 100vw;
    height: 15vh;
    display: grid;
    place-items: center; 
    background-color: rgba(157, 0, 0, 1);
}

.logoTexto {
    font: 14pt sans-serif;
    color: whitesmoke;
}

body {
    background-color: rgb(24, 143, 54);
}


/* Estilo para o sistema de vidas */
#FotoDePerfilDoBot {
    /* margin-top: 20px;
    margin-left: 45px; */
}

#FotoDePerfilDaPessoa {
    margin-left: 75px;
}

.ÍconeDeVida {
    font-size: 28pt;
    letter-spacing: 6pt;
}

#ÍconeDeVidaDoBot {
    /* margin-left: 12px;
    margin-bottom: 40%; */
}

#ÍconeDeVidaDaPessoa {
    margin-left: 35px;
}

#TituloDaVida {
    font: 18pt sans-serif;
    color: whitesmoke;
}

.ConteudoBot {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Estilo para as cartas  */
.CoreGame {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 35vh 35vh;
}

.MostraVidas {
    position: relative;
    grid-row: 1 / 3; 
    grid-column: 1;
}

.containerBot {
    position: relative;
}

.containerDaPessoa {
    position: relative;
}

.containerBaralho {
    position: relative;
    grid-column: 3;
    grid-row: 1 / 3;
    
}



/* Configuração das cartas depois da Primeira Rodada */
#cartaDoBot1 {
    margin-left: 110px;
}
#cartaDoBot2 {
    margin-left: 220px;
}
#cartaDoBot3 {
    margin-left: -110px;
}
#cartaDoBot4 {
    margin-left: -220px;
}
#cartaDoBot5 {
    margin-left: -330px;
}

#cartaDaPessoa1 {
    margin-left: 110px;
}
#cartaDaPessoa2 {
    margin-left: 220px;
}
#cartaDaPessoa3 {
    margin-left: -110px;
}
#cartaDaPessoa4 {
    margin-left: -220px;
}
#cartaDaPessoa5 {
    margin-left: -330px;
}


/* Animação de flip para as cartas */
.carta {
    position: absolute;
    max-width: 100px;
    max-height: 200px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
} 


/* .frente {
    transform: rotateY(0deg);
}

.verso {
    transform: rotateY(0deg);
}

.containerDaCarta.virada .frente {
    transform: rotateY(0deg);
}

.containerDaCarta.virada .verso {
    transform: rotateY(0deg);
} */

   






                                                  

/* Estilo para o botão do select */
.selectContainer {
    display: grid;
    place-items: center; 
    height: 15vh;
}

select {
    margin-top: 6px;
    width: auto;
    font-size: 18px;
    text-align: center; 
}

label {
    font: 18pt sans-serif;
    color:rgb(255, 255, 255);
    margin-top: 5px;
}

                                                                                                                                                                                     